td.\31 {
  background-color : #8026d2;
}

td.\32 {
  background-color : #ffc801;
}

td.\33 {
  background-color : #47b3ff;
}

td.\34 {
  background-color : #0ffdf2;
}

td.\35 {
  background-color : #ea1276;
}